# Directorios de dependencias
node_modules/
dist/
.astro/

# Archivos generados
*.min.js
*.min.css

# Lockfiles
package-lock.json
yarn.lock
bun.lock
bun.lockb

# Dev Container
.devcontainer/devcontainer-lock.json

# Otros
.DS_Store
.claude/

# Archivos Markdown
*.md
